{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Xtra Blog</title>
        <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet"> <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
        {% comment %} <link href="{% static 'css/post-blog.css' %}" rel="stylesheet"> {% endcomment %}
    <!--
        
    TemplateMo 553 Xtra Blog

    https://templatemo.com/tm-553-xtra-blog

    -->

    </head>
    </body>
   
        <header class="tm-header" id="tm-header">
            <div class="tm-header-wrapper">
                <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="tm-site-header">
                    <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                    <h1 class="text-center">Xtra Blog</h1>
                </div>
                <nav class="tm-nav" id="tm-nav">            
                    <ul>
                        {% url 'blog:index' as url %}
                        <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            Blog Home
                        </a></li>
                        {% url 'blog:postBlog' as url %}
                        <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            Post a Blog
                        </a></li>
                        {% url 'blog:about' as url %}
                        <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            About Xtra
                        </a></li>
                        {% url 'blog:contact' as url %}
                        <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                            <a href="{{ url }}" class="tm-nav-link">
                            <i class="far fa-comments"></i>
                            Contact Us
                        </a></li>
                        <!--Login-Logout-->
                        {% if user.is_authenticated %}
                            {% url 'logout' as url %}
                            <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                                <a href="{{ url }}" class="tm-nav-link">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a></li>
                        {% else %}
                            {% url 'login' as url %}
                            <li class="tm-nav-item {% if request.path == url %}active{% endif %}">
                                <a href="{{ url }}" class="tm-nav-link">
                                <i class="fa fa-sign-in"></i>
                                Login
                            </a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="tm-mb-65">
                    <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                        <i class="fab fa-facebook tm-social-icon"></i>
                    </a>
                    <a href="https://twitter.com" class="tm-social-link">
                        <i class="fab fa-twitter tm-social-icon"></i>
                    </a>
                    <a href="https://instagram.com" class="tm-social-link">
                        <i class="fab fa-instagram tm-social-icon"></i>
                    </a>
                    <a href="https://linkedin.com" class="tm-social-link">
                        <i class="fab fa-linkedin tm-social-icon"></i>
                    </a>
                </div>
                <p class="tm-mb-80 pr-5 text-white">
                    Xtra Blog is a multi-purpose HTML template from TemplateMo website. Left side is a sticky menu bar. Right side content will scroll up and down.
                </p>
            </div>
        </header>

        <main class="tm-main">

            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="POST" action="/search/" class="form-inline tm-mb-80 tm-search-form">{% csrf_token %}
                        <input class="form-control tm-search-input" name="searched" type="search" placeholder="Search..." aria-label="Search">
                        <button href="/search/" class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>  
            
            {% block content %}
            {% endblock %}

            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        
        </main>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/templatemo-script.js' %}"></script>
    </body>
</html>