{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
                        
            <div class="row tm-row">
                {% for p in posts %}
                {% if p.is_active %}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="{% url 'blog:post' slug=p.slug %}" class="effect-lily tm-post-link tm-pt-60">
                            <div class="tm-post-link-inner">
                                {% if p.image %}
                                    <img src="{{p.image.url}}" alt="Image" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'img/defaultBlog.jpg' %}" alt="Image" class="img-fluid">
                                {% endif %}
                            </div>
                            {% if p in latest %}
                            <span class="position-absolute tm-new-badge">New</span>
                            {% endif %}
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{p.title}}</h2>
                        </a>                    
                        <p class="tm-pt-30">
                            {{p.body|truncatechars:255|safe}}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">{{p.category}}</span>
                            <span class="tm-color-primary">{{p.created_at|date}}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>{{p.comment_count}} comments</span>
                            <span>by {{p.author}}</span>
                        </div>
                    </article>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>            
    </div>
{% endblock %}
