{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">         
            <div class="row tm-row">
                <div class="row-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    {% if object.image %}
                        <img src="{{object.image.url}}" alt="Image" class="img-fluid">
                    {% else %}
                        <img src="{% static 'img/defaultBlog.jpg' %}" alt="Image" class="img-fluid">
                    {% endif %}
                </div>
                <div class="row-12" style="display: flex; margin-top: 2%">
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <div class="col-7">
                            <small><a href="{{post.slug}}/edit/" class="tm-btn tm-btn-primary tm-btn-small">Edit Post</a></small>
                        </div>
                        <div class="col-7">
                            <small><a href="{{post.id}}/delete/" class="tm-btn tm-btn-primary tm-btn-small">Delete Post</a></small>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{object.title}}</h2>
                            <p class="tm-mb-40">{{object.created_at|date}}</p>
                            <p>
                                {{object.body|safe}}
                            </p>
                            <span class="d-block text-right tm-color-primary">- by <b>{{object.author}}</b></span>
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            {% if user.is_authenticated %}
                                <form action="/blog/{{object.slug}}" method="POST" class="mb-5 tm-comment-form"> {% csrf_token %}
                                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                    <div class="mb-4">
                                        <textarea class="form-control" id="content" name="content" required="true" rows="6"></textarea>
                                    </div>
                                    <div class="text-right">
                                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                    </div>                                
                                </form>
                            {% else %}
                                <div class="mb-5 tm-comment-form">
                                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                    <div class="mb-4">
                                        <h4>Please <a href="/login/">Login</a> to comment</h4>
                                    </div>
                                </div>
                            {% endif %}
                            
                            <h2 class="tm-color-primary tm-post-title"> All Comments ({{comments.count}})</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            {% for comment in comments %}
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure">
                                    {% if comment.user.userprofile.avatar %}
                                        <img src="{{comment.user.userprofile.avatar.url}}" alt="Image" style="height: 100px; width: 100px;" class="mb-2 img-thumbnail">
                                    {% else %}
                                        <img src="{% static 'img/default.png' %}" alt="Image" style="height: 100px; width: 100px;" class="mb-2 img-thumbnail">
                                    {% endif %}
                                    <figcaption class="tm-color-primary text-center">{{comment.user}}</figcaption>
                                </figure>
                                <div>
                                    <p>
                                        {{comment.content}}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="tm-color-primary"></a>
                                        <span class="tm-color-primary">{{comment.dateTime|date}}</span>
                                    </div>                                                 
                                </div>                                
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            <li><a href="#" class="tm-color-primary">{{object.category}}</a></li>
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                    </div>                    
                </aside>
            </div>
    </div>
{% endblock %}