{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}


{% block content %}
    <div class="row tm-row">
        <section class="h-100">
            <div class="container py-15 h-100" style="width: 100%;">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-19 col-xl-17">
                  <div class="card" style="border-color: #0CC;">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #0CC; height:200px;">
                      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; margin-left:45px">
                        {% if user.userprofile.avatar %}
                          <img src="{{user.userprofile.avatar.url}}"
                            alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                            style="width: 150px; height:150px; z-index: 1">
                        {% else %}
                          <img src="{% static 'img/default.png' %}"
                            alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                            style="width: 150px; height:150px; z-index: 1">
                        {% endif %}
                        {% comment %} {% url 'blog:edit_profile' as url %}
                        <a href="{{ url }}" class="tm-nav-link">
                          <button type="button" class="btn btn-outline" data-mdb-ripple-color="dark"
                            style="z-index: 1; background-color: #0CC;">
                            Edit Profile
                          </button>
                        </a> {% endcomment %}
                      </div>
                      <div class="ms-3" style="margin-top: 100px; margin-left:45px">
                        <h3>{{user.userprofile}}</h3>
                        <p style="color:#6c757d;">{{user.userprofile.title}}</p>
                      </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                      <div class="jeeyo">
                        <div class="d-flex justify-content-end text-center py-1" >
                          <div class="px-3">
                            <p class="mb-1 h5">253</p>
                            <p class="small text-muted mb-0">Posts</p>
                          </div>
                          <div class="px-3">
                              <a href="{{user.userprofile.facebook}}">
                              <p class="mb-1 h5"><i class="fa fa-facebook"></i></p>
                              <p class="small text-muted mb-0">Facebook</p>
                              </a>
                          </div>
                          <div class="px-3">
                              <a href="{{user.userprofile.instagram}}">
                              <p class="mb-1 h5"><i class="fa fa-instagram"></i></p>
                              <p class="small text-muted mb-0">Instagram</p>
                              </a>
                          </div>
                          <div>
                              <a href="{{user.userprofile.linkedin}}">
                              <p class="mb-1 h5"><i class="fa fa-linkedin"></i></p>
                              <p class="small text-muted mb-0">Linkedin</p>
                              </a>
                          </div>
                        </div>
                        <div>
                          {% url 'blog:edit_profile' as url %}
                          <a href="{{ url }}" class="tm-nav-link">
                            <button type="button" class="btn btn-outline" data-mdb-ripple-color="dark"
                              style="z-index: 1; background-color: #0CC;">
                              Edit Profile
                            </button>
                          </a>
                        </div>
                      </div>
                      
                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="mb-5">
                        <p class="lead fw-normal mb-1">About</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                            <p class="mb-0">{{user.userprofile.bio}}</p>
                            <p class="font-italic mb-1">Facebook</p>
                            <p class="font-italic mb-1">Instagram</p>
                            <p class="font-italic mb-0">Linkedin</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Your Posts</p>
                        <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                      </div>
                      <div class="row g-2">
                            <div class="row tm-row">
                                {% for p in posts %}
                                {% if p.is_active %}
                                    <article class="col-12 col-md-6 tm-post">
                                        <hr class="tm-hr-primary">
                                        <a href="{% url 'blog:post' slug=p.slug %}" class="effect-lily tm-post-link tm-pt-60">
                                            <div class="tm-post-link-inner">
                                                <img src="{{p.image.url}}" alt="Image" class="img-fluid">                            
                                            </div>
                                            {% if p in latest %}
                                            <span class="position-absolute tm-new-badge">New</span>
                                            {% endif %}
                                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{p.title}}</h2>
                                        </a>                    
                                        <p class="tm-pt-30">
                                            {{p.body|truncatechars:255|safe}}
                                        </p>
                                        <div class="d-flex justify-content-between tm-pt-45">
                                            <span class="tm-color-primary">{{p.category}}</span>
                                            <span class="tm-color-primary">{{p.created_at|date}}</span>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-between">
                                            <span>36 comments</span>
                                            <span>by {{p.author}}</span>
                                        </div>
                                    </article>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
{% endblock %}